##############################
# Folders
##############################
.idea
.vscode
bin
vendor
tmp

##############################
# Files
##############################
.DS_Store
.AppleSingle
.AppleDouble
*.sublime-project
*.sublime-workspace
Thumbs.db
coverage.out
__debug_bin
